> **Jupyter slideshow:** This notebook can be displayed as slides. To view it as a slideshow in your browser type in the console:


> `> ipython nbconvert [this_notebook.ipynb] --to slides --post serve`


> To toggle off the slideshow cell formatting, click the `CellToolbar` button, then `View --> Cell Toolbar --> None`

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Intro to Data Representation and Data Cleaning

_Authors: Dave Yerrington (SF)_

---

<img src="https://snag.gy/ywU34V.jpg" width="250">

### Learning Objectives
*After this lesson, you will be able to:*
- Inspect data types
- Clean up a column using `df.apply()`
- Know what situations to use `.value_counts()` in your code

### Lesson Guide

- [Data quality measures](#data_quality_measures)
- [Common data cleaning strategies](#common_strategies)
- [Pandas tools for cleaning data](#cleaning_tools)
- [Common operations on data by type](#common_operations)
- [Practice inspecting data types and applying functions](#guided_practice)
- [Independent practice: sales data](#independent_pratice)

<a id='common_strategies'></a>

### Common data cleaning strategies

---

 - Remove missing values
 - Remove incorrect values
 - Update incorrect values
  - Removing invalid characters
  - Truncating part of a value
  - Adding extra numeral or string-based data
 - Imputate missing or invalid data
  - Mean / Median / Mode of a column, sometimes within group subsets
  - Model based imputation (K-Nearest Neighbors, MICE, etc.)
 - Backfill or forward fill

<a id='data_quality_measures'></a>

### Measures of data quality

---

 - What is the relative value of the data column?
 - Is the data encoded properly?
 - Is the data consistently encoded? Does it represent the information appropriately?

<a id='cleaning_tools'></a>

### Tools for the data cleaning process using pandas

---

We're starting to get more comfortable with using pandas for manipulating and examining data. Let's add a couple more tools to our toolbox.

The main data types in pandas objects are:
- `float`
- `int`
- `bool`
- `datetime64`
- `timedelta`
- `category`
- `object`

It is always important to evaluate the data types of columns to ensure that the information is properly represented.

See [Pandas: dtypes](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf) for a more detailed reference.

We will be using two tools extensively in this lesson:

**The `.apply()` function**

The built-in DataFrame function `.apply()` will apply a function to all the cells, rows, or columns of the DataFrame. We will explore this function in detail beelow.

**Series `.value_counts` attribute**

Pandas Series objects have a `.value_counts` attribute that will return a new series containing the counts of the unique values in the data. The series will be in descending order by default, so the first element is the most frequently occuring value.

Note: `.value_counts` excludes the counts of null values in the column!

See [pandas Series: value_counts](http://nullege.com/codes/search/pandas.Series.value_counts) for more detailed information.

<a id='common_operations'></a>

### Some common operations on data by type

---

- **float**: precision specific math operations
- **int**: operations with whole numbers
- **bool**: control flow conditions
- **datetime64**: resampling, slicing/selection, frequency back/front filling on a date range
- **timedelta**: date comparisons
- **category**: a more powerful set type; can capture for example days as a category with ordinal (ordering) information
- **object**: all types can be represented as an object, but math and date operations will not be possible.  Limited control flow possibilities unless you are comparing strings.

<a id='guided_practice'></a>

### Guided practice: inspecting data types and applying functions

---

[This guided practice follows the questions in the notebook here.](./practice-inspecting-data-applying-functions.ipynb)

In [27]:
import pandas as pd
import numpy as np

**1. Create a small DataFrame with different data types.**

In [2]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)

In [3]:
test_data

{'A': array([ 0.52262705,  0.19537626,  0.89888063]),
 'B': 1,
 'C': 'foo',
 'D': Timestamp('2001-01-02 00:00:00'),
 'E': 0    1.0
 1    1.0
 2    1.0
 dtype: float32,
 'F': False,
 'G': 0    1
 1    1
 2    1
 dtype: int8}

In [9]:
A = np.random.rand(3)
A

array([ 0.44688535,  0.22198847,  0.23445307])

In [14]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.296990  1  foo 2001-01-02  1.0  False  1
1  0.856104  1  foo 2001-01-02  1.0  False  1
2  0.195158  1  foo 2001-01-02  1.0  False  1

**2. Examine the data types of the columns.**

In [5]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

**3. Create a Series object with the integers 1-5 and float 6.0. What data type is the Series?**

In [6]:
pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

If a pandas object contains data of multiple dtypes in a single column, the dtype of the column will be chosen to accommodate all of the data types (object is the most general).

**4. Create a Series with data: `[1, 2, 3, 6., 'foo']`. What data type is the series?**

In [18]:
df=pd.Series([1, 2, 3,6.3, 'foo'])
df

0      1
1      2
2      3
3    6.3
4    foo
dtype: object

**5. Find how many columns of each type there are with the `.get_dtype_counts()` function.**

In [20]:
dft.get_dtype_counts().astype(list)

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: object

**With a partner, take 3 minutes to discuss:**

*Without* running this code with a Python interpreter, what types would you expect the common `dtype` to be selected?

    [1, 3, 9, .33, False, '03-20-1978', np.arange(22)]

In [35]:
a=pd.DataFrame([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])
a.get_dtype_counts().astype(list)

object    1
dtype: object

You can do a lot more with dtypes.  Check out 
[Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf).

**Applying functions to data with `df.apply()`**

Generally `df.apply()` will apply a singlular function to every cell of the dataframe you use it with.  

Note: There is another common built-in function, `df.map()`, which applies a function to each element of a single Series (column). For example:

```python
df['a'].map(my_func)
```

**6. Create another small DataFrame.**

In [6]:
# Create some more test data
df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0 -0.410785  0.190240  1.745112 -0.322609
1  0.281392 -0.229490  1.962935  0.946956
2  0.809197  0.318424  1.247255  1.052985
3  0.858677  0.244996  0.090704  1.250873
4 -0.737841  0.966909  0.580455 -1.126967

**7. Use the `.apply()` function to find the square root of all the cells.**

In [7]:
# square root ALL CELLS (NaN == Not a Number)
df.apply(np.sqrt)

          a         b         c         d
0       NaN  0.436165  1.321027       NaN
1  0.530464       NaN  1.401048  0.973116
2  0.899554  0.564291  1.116806  1.026151
3  0.926648  0.494971  0.301172  1.118425
4       NaN  0.983315  0.761876       NaN

**8. Use `.apply()` to find the mean of the columns.**

In [8]:
df.apply(np.mean, axis=0)

a    0.160128
b    0.298216
c    1.125292
d    0.360248
dtype: float64

**9. Find the mean of the rows.**

In [9]:
df.apply(np.mean, axis=1)

0    0.300489
1    0.740448
2    0.856965
3    0.611313
4   -0.079361
dtype: float64

### Further Reading

For more advanced `.apply` usage, check out these links:

["Why Not"'s Gist Examples](https://gist.github.com/why-not/4582705)

[Chris Albon's Map + Apply Examples](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

**Counting occurrances of unique values with `.value_counts()`**

The `.value_counts` attribute tells us the count of unique values in a column's data.  It's helpful to identify unexpected values and to get a feel for the distribution of the data, especially when looking at group membership.  Looking at the value counts per column can give us a quick overview of values expressed in our data.


Some common use cases of `.value_counts` include:
 - Finding strings inside of mostly numeric / continious data
 - Finding non-numeric values
 - General distributions of categorical variables
 - Identifying the most common and least common values

**10. Use numpy to create a random vector of 50 numbers ranging from 0 to 6.**

In [10]:
data = np.random.randint(0, 7, size = 50)
data

array([5, 5, 5, 2, 4, 2, 5, 4, 5, 4, 1, 1, 1, 3, 6, 1, 4, 6, 1, 0, 2, 2, 2,
       5, 6, 5, 1, 2, 4, 4, 5, 0, 4, 2, 2, 1, 1, 1, 0, 1, 3, 6, 2, 6, 3, 6,
       6, 6, 3, 6])

**11. Convert the vector to a Series and count the occurrences of each number.**

In [11]:
s = pd.Series(data)
s.head()

0    5
1    5
2    5
3    2
4    4
dtype: int64

In [12]:
# The counts of each number that occurs in our array is listed
pd.value_counts(s)

1    10
6     9
2     9
5     8
4     7
3     4
0     3
dtype: int64

<a name="independent_ practice"></a>

### Independent practice: sales data

---

1. Load the `sales.csv` data set from the datasets directory.
- Inspect the data types.
- Imagine you've found out that all your values in column 1 are off by 1. Use `.apply()` or `.map()` to add 1 to column 1 of the dataset.
- Use `.value_counts` to count the values of 1 column of the dataset.

In [39]:
sales=pd.read_csv('/Users/Mahendra/desktop/GA/hw/2.2.1_eda-data_cleaning_intro-lesson/datasets/sales.csv')
sales

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      18.420760    93.802281      337166.53      337804.05
1       4.776510    21.082425       22351.86       21736.63
2      16.602401    93.612494      277764.46      306942.27
3       4.296111    16.824704       16805.11        9307.75
4       8.156023    35.011457       54411.42       58939.90
5       5.005122    31.877437      255939.81      332979.03
6      14.606750    76.518973      319020.69      302592.88
7       4.456466    19.337345       45340.33       55315.23
8       5.047530    26.142470       57849.23       42398.57
9       5.388070    22.427024       51031.04       56241.57
10      9.347349    41.892133       68657.91        3536.14
11     10.930398    66.403049        4151.93      137416.93
12      6.270209    47.869324      121837.56      158476.55
13     12.395919    86.760150      146725.31      125731.51
14      4.557712    22.948176      119287.76       21834.49
15      4.200122    18.706055       20335.03       39609.55
16     10.252870    44.041177      110552.94      204038.87
17     12.076785    62.199004      204237.78       15689.80
18      3.725095    14.251810       16939.15       48545.69
19      3.210727    16.043269       55498.12       16320.74
20      6.290971    25.191171       15983.98       53182.55
21      7.434821    31.753066       71758.66       30402.43
22      4.376225    23.161451       62988.17       47217.40
23     12.988913    48.820741       29637.75        6367.76
24     11.697456    73.231504       48759.71      329252.09
25      5.965175    23.450334       89736.70      332976.05
26      3.945223    14.144793        5577.61      234926.02
27      7.369585    36.408528      310035.66      151934.45
28      7.343509    36.171862      310718.21      314068.92
29     12.350027    59.893478      258284.84       61847.52
..           ...          ...            ...            ...
170     8.443932    37.407112       17232.45       19203.82
171     5.151964    20.698042       21340.78       25302.92
172     6.537069    22.888219       16617.85       18650.96
173     8.500445    27.507729       21711.71       14626.29
174     3.931543    21.811659       28128.95       46323.73
175     6.163689    25.428521       21803.20      535381.86
176     4.904447    19.568317       12517.29      812011.78
177     7.402413    26.935335       53988.92      206247.57
178    47.503269   235.730678      555707.40        6402.78
179    55.739180   268.869600     1082136.01      100765.67
180    11.840780    56.433388      192089.46       20098.61
181     7.002294    26.440917        5574.99       68230.36
182     8.753142    45.293847       80241.27      596063.00
183     3.147741    15.594552       27043.54       87471.43
184     7.196779    27.288652       61977.54      431990.70
185    76.203692   367.225653      977772.62      136717.57
186    10.804337    42.031199       41905.18       30008.81
187    10.705327    45.891477       87839.45       19420.34
188    51.800686   255.153235      445058.32      274752.60
189     5.882779    27.512271      127495.18       10315.35
190     6.686406    26.103097       23874.67       45252.42
191     5.833355    23.741603       21535.87      433832.28
192    45.556096   218.008350      276096.18       74215.43
193     5.172606    21.548782        8506.79       78137.29
194    10.118018    46.700709       49163.01       83915.72
195    51.675537   233.533189      434110.57      372240.72
196     2.794631    11.996118       73789.38      148021.90
197     7.611698    38.809973       88006.84       31184.18
198    15.697651   105.035207      117958.96       33324.36
199    50.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [40]:
sales.get_dtype_counts()

float64    4
dtype: int64

In [42]:
#squarertto of all the coumns
sales.apply(np.sqrt)

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0       4.291941     9.685158     580.660426     581.209128
1       2.185523     4.591560     149.505385     147.433477
2       4.074604     9.675355     527.033642     554.023709
3       2.072706     4.101793     129.634525      96.476681
4       2.855875     5.917048     233.262556     242.775411
5       2.237213     5.646011     505.904942     577.043352
6       3.821878     8.747512     564.819166     550.084430
7       2.111034     4.397425     212.932689     235.191900
8       2.246671     5.112971     240.518669     205.909130
9       2.321222     4.735718     225.900509     237.153052
10      3.057343     6.472413     262.026544      59.465452
11      3.306115     8.148807      64.435472     370.697896
12      2.504038     6.918766     349.052374     398.091133
13      3.520784     9.314513     383.047399     354.586393
14      2.134880     4.790425     345.380602     147.764982
15      2.049420     4.325050     142.600947     199.021481
16      3.202010     6.636353     332.495023     451.706619
17      3.475167     7.886635     451.926742     125.258932
18      1.930051     3.775157     130.150490     220.330865
19      1.791850     4.005405     235.580390     127.752652
20      2.508181     5.019081     126.427766     230.613421
21      2.726687     5.634986     267.878069     174.362926
22      2.091943     4.812635     250.974441     217.295651
23      3.604013     6.987184     172.156179      79.798246
24      3.420154     8.557541     220.816009     573.804923
25      2.442371     4.842554     299.560845     577.040770
26      1.986258     3.760956      74.683398     484.691675
27      2.714698     6.033948     556.808459     389.787699
28      2.709891     6.014305     557.421035     560.418522
29      3.514261     7.739088     508.217316     248.691616
..           ...          ...            ...            ...
170     2.905845     6.116135     131.272427     138.577848
171     2.269794     4.549510     146.084838     159.068916
172     2.556769     4.784163     128.910240     136.568518
173     2.915552     5.244781     147.348940     120.939200
174     1.982812     4.670295     167.716875     215.229482
175     2.482678     5.042670     147.659067     731.697929
176     2.214599     4.423609     111.880695     901.116962
177     2.720738     5.189926     232.355159     454.144878
178     6.892262    15.353523     745.457846      80.017373
179     7.465868    16.397244    1040.257665     317.436088
180     3.441043     7.512216     438.280116     141.769567
181     2.646185     5.142073      74.665856     261.209418
182     2.958571     6.730070     283.268901     772.051164
183     1.774188     3.948994     164.449202     295.755693
184     2.682681     5.223854     248.952887     657.259994
185     8.729473    19.163133     988.823857     369.753391
186     3.286995     6.483147     204.707547     173.230511
187     3.271900     6.774325     296.377209     139.356880
188     7.197269    15.973517     667.126914     524.168484
189     2.425444     5.245214     357.064672     101.564512
190     2.585809     5.109119     154.514304     212.726162
191     2.415234     4.872536     146.751048     658.659457
192     6.749526    14.765106     525.448551     272.425091
193     2.274336     4.642067      92.232261     279.530481
194     3.180883     6.833792     221.727333     289.682102
195     7.188570    15.281793     658.870678     610.115333
196     1.671715     3.463541     271.642007     384.736143
197     2.758931     6.229765     296.659468     176.590430
198     3.962026    10.248669     343.451540     182.549610
199     7.090550    15.001838     638.544274     179.106477

[200 rows x 4 columns]

In [45]:
sales.apply(np.mean,axis=0)

volume_sold          10.018684
2015_margin          46.858895
2015_q1_sales    154631.668200
2016_q1_sales    154699.178750
dtype: float64

In [47]:
pd.value_counts(sales['volume_sold'])

16.059971    1
6.654407     1
7.437252     1
4.200122     1
6.657733     1
12.455723    1
45.556096    1
4.385455     1
10.804337    1
10.270185    1
6.163689     1
7.790503     1
7.560549     1
5.778097     1
8.300180     1
6.537069     1
6.433606     1
4.776510     1
10.186622    1
7.101347     1
11.975769    1
50.275893    1
3.210727     1
11.684510    1
9.292241     1
6.618174     1
5.906274     1
5.047530     1
4.376225     1
8.751920     1
            ..
47.503269    1
5.214882     1
18.420760    1
8.622686     1
10.930398    1
9.003562     1
10.252870    1
6.630904     1
4.941294     1
7.369585     1
7.785867     1
29.878030    1
10.331430    1
9.313785     1
11.997117    1
14.439435    1
12.509967    1
7.754457     1
12.350027    1
5.388070     1
8.555078     1
11.840780    1
5.723896     1
4.456466     1
12.395919    1
9.348477     1
5.781266     1
7.585997     1
5.095464     1
9.849660     1
Name: volume_sold, dtype: int64