<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Guided Practice: Inspecting Data Types and Applying Functions

_Authors: Dave Yerrington (SF)_

---

In [16]:
import pandas as pd
import numpy as np

**1. Create a small DataFrame with different data types (provided).**

In [4]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.593025  1  foo 2001-01-02  1.0  False  1
1  0.591946  1  foo 2001-01-02  1.0  False  1
2  0.334803  1  foo 2001-01-02  1.0  False  1

**2. Examine the data types of the columns.**

In [5]:
# A:
dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

**3. Create a Series object with the integers 1-5 and float 6.0. What data type is the Series?**

In [12]:
# A:
my_series= pd.Series([1,2,3,4,5,6.0])
my_series.dtypes

dtype('float64')

**4. Create a Series with data: `[1, 2, 3, 6., 'foo']`. What data type is the series?**

In [14]:
# A:
my_ser=pd.Series([1, 2, 3, 6., 'foo'])
my_ser.dtypes

dtype('O')

**5. Find how many columns of each type there are with the `.get_dtype_counts()` function.**

In [15]:
# A:
my_ser.get_dtype_counts()

object    1
dtype: int64

**6. Create another small DataFrame (provided).**

In [18]:
# create a small data frame. 
df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])

**7. Use the `.apply()` function to find the square root of all the cells.**

In [19]:
# A:
df.apply(np.sqrt)

          a         b         c         d
0  0.208129       NaN  0.907262  0.305778
1       NaN  1.496878  0.131464       NaN
2  0.743331  0.136969  0.709549  1.303985
3  0.700281  0.478495  0.718512       NaN
4       NaN       NaN       NaN  0.820294

**8. Use `.apply()` to find the mean of the columns.**

In [20]:
# A:
df.apply(np.mean)

a   -0.072868
b    0.106305
c    0.160103
d    0.105739
dtype: float64

**9. Find the mean of the rows.**

In [10]:
# A:
df.apply(np.m)

**10. Use numpy to create a random vector of 50 numbers ranging from 0 to 6.**

*Hint: This can be done with `np.random.randint()`.

In [11]:
# A:

**11. Convert the vector to a Series and count the occurrences of each number.**

In [12]:
# A: